name: Deploy Specific Docker Compose Service to EC2

on:
  push: 
    branches:      
      - development

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy updated service to EC2
      run: |
        sudo apt-get update && sudo apt-get install -y openssh-client
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts
        # SSH into the EC2 instance and update Docker Compose for the admin service
        ssh -i ~/.ssh/id_rsa root@${{ secrets.EC2_HOST }} << 'EOF'
          cd /root/vaulted-assets-admin
          git pull origin development
          docker compose up --build -d
          docker image prune -f
        EOF
